body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  /* padding: 30px 20px; */
  text-align: center;

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.BGvideo {
position: fixed;
top:0;
right:0;
z-index:-10;
width:100%;
height:100%;
}

body {

  background-color: Pink;
}

h1 {
  padding: 20px 0px 10px 0px;
  color: white;
}

/* mouse over link */
  h1:hover {
      color: hotpink;
    }

a {
color: #69CBBB;
text-decoration: none;
}

/* mouse over link */
  a:hover {
      color: hotpink;
    }

img {
  display: block;
  margin: 0px auto;
  text-align: center;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
}

/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */

.portfolio-item {
margin-top: 60px;
padding: 40px;
background-color: #f7f7f7;
}

.venus-item {
margin-top: 70px;
padding: 50px;

}
