html, body {
  height: 100%;
  margin: 0px auto;
  text-align: center;
  width: 100%;
  padding: 0px ;
  
}

canvas {
  display: block;
}


.BGvideo {
position: fixed;
top:0;
right:0;
z-index:-10;
width:100%;
height:100%;
}

body {
  background-color: Pink;
}

h1 {
  padding: 20px 0px 10px 0px;
}
a {
color: #69CBBB;
text-decoration: none;
}

/* mouse over link */
  a:hover {
      color: hotpink;
    }


img {
  padding: 0;
  display: block;
  margin: 0px auto;
  text-align: center;
  max-height: 100%;
  max-width: 100%;
}


