html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
body {

  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;

}

body {
  background-color: Pink;
}


a {
color: #69CBBB;
text-decoration: none;
}

/* mouse over link */
  a:hover {
      color: hotpink;
    }




/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */
