html, body {
  margin: 0px auto;
  width: 80px auto;
  padding: 0;
}
canvas {
  display: block;
}
body {
  background-color: Pink;
}

h1 {
  padding: 20px 0px 10px 0px;
}
a {
color: #69CBBB;
text-decoration: none;
}

/* mouse over link */
  a:hover {
      color: hotpink;
    }


img {
  display: block;
  margin: 0px auto;
  text-align: center;
}

